/*
 * CSS Reset
 */

 * {
 	padding: 0;
 	margin: 0;
 	box-sizing: border-box;
 }

/*
 * General Rules
 */

 html,
 body {
 	overflow-x: hidden;
 }

 body {
 	background-color: #FFF;
 	font-family: 'Muli', sans-serif;
 }

/*
 * Header Section
 */

 .glow {
 	text-shadow: 0 3px 5px #808080;
 }

 header {
 	height: 10%;
 	width: 100%;
 	background-color: #FFF;
 }

 .navbar-brand {
 	height: 60px;
 }

 .navbar-nav {
 	font-size: 20px;
 }

/*
 * Main Section
 */

 .container-fluid {
 	padding: 0;
 	width: 100%;
 }

 .overlay {
    z-index: 1;
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: auto;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.7);
 }

 .background-tint {
  background-color: rgba(0,0,0,0.6);
  background-blend-mode: multiply;
 }

 main {
 	width: 100vw;
 	min-height: 100vh;
 	background-color: #F69A05;
 }

 main > div {
    height: 100%;
    background-image: url('../img/makati-image-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-top: 10px solid #F69A05;
    border-bottom: 10px solid #F69A05;
 }

 #content {
    min-height: 100vh;
    color: #FFF;
    text-align: center;
 }

 .short-border {
    width: 40vw;
    border-top: 1px solid #D3D3D3;
    opacity: 0.8;
 }

 #illustration {
    color: #000;
    margin: 10px;
 }

 #illustration-1 {
    width: 300px;
    height: 300px;
    display: inline-block;
    background-color: #D3D3D3;
    padding-top: 25px;
    border-radius: 10px;
    opacity: 0.9;

    color: #F69A05;
    font-size: 120px;
    text-transform: uppercase;
    margin-left: 50px;
 }

 #illustration-2 {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    background-color: #D3D3D3;
    padding-top: 25px;
    border-radius: 10px;
    opacity: 0.9;

    color: #F69A05;
    font-size: 120px;
    text-transform: uppercase;
 }

 #illustration-3 {
    width: 300px;
    height: 300px;
    display: inline-block;
    background-color: #D3D3D3;
    padding-top: 25px;
    border-radius: 10px;
    opacity: 0.9;

    color: #F69A05;
    font-size: 120px;
    text-transform: uppercase;
    margin-right: 50px;
 }

/* Hover Smooth Transition */

/* .old-1,
 .new-1 {
    transition: opacity 0.2s linear;
 }

 .new-1 {
    opacity: 0;
 }

 .wrap:hover .old-1 {
    opacity: 0;
 }

 .wrap:hover .new-1 {
    opacity: 1;
 }*/

/*
 * Footer Section
 */

 footer {
 	width: 100%;
 	background-color: #1B252E;
 	padding-top: 10px;
 }

 footer > div > div > div > p {
 	color: #92A7B8;
 	margin-top: 10px;
 }

 footer > div > div > div {
 	text-align: center;
 }

 footer > div > div > div > ul > li {
 	display: inline;
 	margin: 5px;
 	list-style-type: none;
 }

 footer > div > div > div > ul > li > a {
 	font-size: 25px;
 	color: #92A7B8;
 }

/*
 * Media Query - Very Small Devices (Phones)
 */

 @media (max-width: 575.98px) {

    #illustration-1,
    #illustration-2,
    #illustration-3 {
        width: 150px;
        height: 150px;
        margin: 7px;
        padding-top: 15px;
        font-size: 60px;
        display: inline-block;
    }

    #illustration-1 > h2,
    #illustration-2 > h2,
    #illustration-3 > h2 {
        font-size: 15px;
    }

 }

/*
 * Media Query - Small Devices (Tablet)
 */

 @media (max-width: 768px) {
    #illustration-1,
    #illustration-2,
    #illustration-3 {
        width: 200px;
        height: 200px;
        margin: 7px;
        padding-top: 25px;
        font-size: 70px;
        display: inline-block;
    }

    #illustration-1 > h2,
    #illustration-2 > h2,
    #illustration-3 > h2 {
        font-size: 18px;
    }
 } 

/*
 * Media Query - Large Devices
 */

 @media (min-width: 992px) {

 	footer > div > div > div#footer-left {
 		text-align: left;
 	}

 	footer > div > div > div#footer-right {
 		text-align: right;
 	}

 	footer > div > div > div#footer-right > ul {
 		margin-bottom: 0;
 	}
 }

