/*
 *
 * CSS Reset
 *
 */

 * {
 	padding: 0;
 	margin: 0;
 	box-sizing: border-box;
 }

/*
 *
 * General Rules
 *
 */

 html,
 body {
 	overflow-x: hidden;
 }

 body {
 	background-color: #FFF;
 	font-family: 'Muli', sans-serif;
 }

 .container-fluid {
    padding: 0;
    width: 100%;
 }

 .glow {
    text-shadow: 0 3px 5px #808080;
 }

 .background-tint {
    background-color: rgba(0,0,0,0.8);
    background-blend-mode: multiply;
 }

/*
 *
 * Header Section
 *
 */

 header {
 	height: 10%;
 	width: 100%;
 	background-color: #FFF;
 }

 .navbar-brand {
 	height: 60px;
 }

 .navbar-nav {
 	font-size: 20px;
 }

/*
 *
 * Main Section
 *
 */

 main {
 	width: 100vw;
 	min-height: 100vh;
 	background-color: #F69A05;
    border-top: 5px solid #F69A05;
    border-bottom: 5px solid #F69A05;
 }

 main > div {
    height: 100%;
    background-image: url('../img/makati-image-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
 }

 #content {
    min-height: 100vh;
    color: #FFF;
    text-align: center;
    padding: 20px 30px 30px 30px;
 }

 #content > h3 {
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
 }

 #content > p {
    font-size: 13px;
 }

 .short-border {
    width: 40vw;
    border-top: 1px solid #D3D3D3;
    opacity: 0.8;
 }

 .card {
    font-size: 15px;
    border: 1px solid #FFF;
    border-radius: 10px;
 }

 .card-upper-1 {
    width: 250px;
    height: 205px;
    margin: 0 auto;
    color: #FFF;
    background-color: transparent;
    border: 1px solid #FFF;
    margin-bottom: 20px;
    padding: 15px 15px 0 15px;
 }

 .card-upper-2 {
    width: 250px;
    height: 220px;
    margin: 0 auto;
    color: #FFF;
    background-color: transparent;
    border: 1px solid #FFF;
    margin-bottom: 20px;
    padding: 15px 15px 0 15px;
 }

 .card-lower-1 {
    width: 250px;
    height: 235px;
    margin: 0 auto;
    color: #FFF;
    background-color: transparent;
    margin-bottom: 20px;
    padding: 15px 15px 0 15px;
 }

 .card-lower-2 {
    width: 250px;
    height: 265px;
    margin: 0 auto;
    color: #FFF;
    background-color: transparent;
    padding: 15px 15px 0 15px;
 }

 .card-left {
    padding-left: 0;
    padding-right: 0;
 }

 .card-right {
    padding-left: 0;
    padding-right: 0;
 }

 .card-title {
    font-size: 13px;
 }

 .card-body {
    padding: 0;
 }

 .card-body > i {
    font-size: 40px;
    padding-bottom: 15px;
 }
 
 .card-body > h5 {
    text-decoration: underline;
 }

 .card-body > p {
    font-size: 10px;
 }

/*
 * Footer Section
 */

 footer {
 	width: 100%;
 	background-color: #1B252E;
 	padding-top: 10px;
 }

 footer > div > div > div > p {
 	color: #92A7B8;
 	margin-top: 10px;
 }

 footer > div > div > div {
 	text-align: center;
 }

 footer > div > div > div > ul > li {
 	display: inline;
 	margin: 5px;
 	list-style-type: none;
 }

 footer > div > div > div > ul > li > a {
 	font-size: 25px;
 	color: #92A7B8;
 }

/*
 *
 * Medium Devices
 *
 */

 @media (min-width: 768px) {

    main {
        min-height: 70vh;
    }

    div#content {
        min-height: 70vh;
        padding: 20px 40px 10px 40px;
    }

    div.card-body > h5 {
        font-size: 15px;
    }

    div.card-body > p {
        font-size: 13px;
    }

    .card-upper-1 {
        width: 330px;
        min-height: 250px;
        margin-left: 30px;
        margin-bottom: 30px;
        padding: 25px 25px 0 25px;
    }

    .card-upper-2 {
        width: 330px;
        height: 250px;
        margin-right: 30px;
    }

    .card-lower-1 {
        width: 330px;
        height: 290px;
        padding: 25px 25px 0 25px;
        margin-left: 30px;
    }

    .card-lower-2 {
        width: 330px;
        height: 290px;
        margin-right: 30px;
    }

 } 

/*
 *
 * Large Devices
 *
 */

 @media (min-width: 1280px) {

    div#content {
        padding: 20px 40px 10px 40px;
    }

    div#content > h3 {
        font-size: 23px;
    }

    div.card-body > h5 {
        font-size: 17px;
    }

    div.card-body > p {
        font-size: 13px;
    }

    .card-left {
    }

    .card-upper-1 {
        width: 500px;
        height: 260px;
        margin-left: auto; 
        margin-right: 10px;
        margin-bottom: 10px;
        padding: 30px 25px 0 25px;
    }

    .card-upper-2 {
        width: 500px;
        height: 260px;
        margin-left: 10px;
        margin-right: auto;
        padding: 25px 25px 0 25px;
    }

    .card-lower-1 {
        width: 500px;
        height: 280px;
        margin-left: auto; 
        margin-right: 10px;
        padding: 30px 25px 0 25px;
    }

    .card-lower-2 {
        width: 500px;
        height: 280px;
        float: left;
        margin-left: 10px;
        margin-right: auto;
        padding: 25px 25px 0 25px;
    }

    .card-body > i {
        font-size: 70px;
    }

    footer {
        min-height: 5vh;
    }

    div#footer-left {
        text-align: left;
    }

    div#footer-right > ul {
        text-align: right;
        margin-bottom: 0;
        padding-bottom: 0;
    }

 }